.title{
  font:normal normal 300 36px Indie;
}

.container{
  max-width: 95vw;
}

.img{
  width: 100%;
  height: 323px;
}

hr{
  color: rgba(0, 0, 0, 0.2);
}

.footer{
  position: fixed;
  bottom: 30px;
  left: 30%;
}
