<div class="container">
  <div class="row">
    <span class="title">El aroma mágico</span>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="/assets/img/image.png" alt="imagen">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cafeList" class="col mb-2">
            <th>{{ item.id }}</th>
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.region }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-4">Total Café de origen: {{ totalCafeOrigen }}</div>
  </div>
  <div class="row">
    <div class="col-4">Total Café blend: {{ totalCafeBlend }}</div>
  </div>
</div>

<div class="row footer">
  <div class="col-12">
    Contact us: +57 3104932954 - info@elaromamagico.com - @elaromamagico
  </div>
</div>
